*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
}

.hero{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;

    background:linear-gradient(
        135deg,
        #03045E,
        #7209B7,
        #B5179E
    );
}

.glass-card{

    width:100%;
    max-width:450px;

    text-align:center;

    padding:40px;

    border-radius:30px;

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,0.15);

    box-shadow:
    0 10px 40px rgba(0,0,0,.25);
}

.logo{
    width:120px;
}

h1{
    color:white;
    font-size:48px;
    margin-top:20px;
}

h2{
    color:#2DD4BF;
    font-size:20px;
    margin-top:10px;
}

p{
    color:#f0f0f0;
    margin-top:20px;
    line-height:1.7;
}

.buttons{
    margin-top:35px;

    display:flex;
    gap:15px;

    justify-content:center;
    flex-wrap:wrap;
}

.btn{

    text-decoration:none;

    padding:15px 28px;

    border-radius:16px;

    font-weight:600;

    transition:.3s;
}

.primary{

    background:#2DD4BF;

    color:white;
}

.primary:hover{

    background:#22c0af;
}

.secondary{

    border:2px solid white;

    color:white;
}

.secondary:hover{

    background:white;
    color:#03045E;
}

@media(max-width:600px){

    h1{
        font-size:38px;
    }

    h2{
        font-size:18px;
    }

}
